// Created by Robin Hsu on 18/3/5.
// Last edited by Robin Hsu on 18/3/7.

// Colors
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eee !default;
$gray-300: #dcdcdc !default;
$gray-800: #343a40 !default;

$blue: #276ab0 !default;
$red: #ed3f14 !default;

$primary: $blue;
$danger: $red;

$default-colors: (
  primary: $blue,
  danger: $red
) !default;

$body-bg: $gray-100 !default;


// Layout
$sidebar-width: 270px !default;